[Unit]
Description=Drift-base Service by Directive Games
Requires=docker.service
After=docker.service


[Service]
#Restart=always
EnvironmentFile=/etc/drift.env
ExecStartPre=/bin/bash -c "systemctl set-environment HOSTNAME_IP=$(hostname -i);systemctl set-environment VERSION=$(printenv DRIFT_TAG)"
ExecStart=/usr/bin/docker run \
               --env-file=/etc/drift.env \
               -e HOST_ADDRESS=${HOSTNAME_IP} \
               -p 10080:10080 \
               -p 8080:8080 \
               -p 9191:9191 \
               --name drift-base \
               directivegames/drift-base:${VERSION}
ExecStop=/usr/bin/docker rm -f drift-base

[Install]
WantedBy=multi-user.target