.git/
.github/

.coveragerc
.dockerignore
.env
.gitignore

.driftonconfig-developer/
.idea/
.pytest_cache/
drift_base.egg-info/

aws/
deployment/
scripts/

Dockerfile
GitVersion.yml
LICENSE
MANIFEST.in
Makefile
README.md
VERSION
compose-*.yml
example.env
notes-on-sls.md
pytest.ini
settings.ini
setup.py
