.git/

.coveragerc
.dockerignore
.env
.gitignore

.driftonconfig-developer/
.idea/
.pytest_cache/
drift_base.egg-info/

aws/
deployment/
scripts/

config/python-requirements.txt
config/uwsgi_local.ini

Dockerfile
LICENSE
MANIFEST.in
Makefile
README.md
VERSION
docker-compose.yml
example.env
notes-on-sls.md
pytest.ini
settings.ini
setup.py
