sudo: true
language: python
cache: pip
python:
- '2.7'
env:
  global:
  - AWS_DEFAULT_REGION=eu-west-1
  - AWS_DEFAULT_OUTPUT=json
  - secure: AjFuCXh+SdOuk2VYRFahhurJj1MkNJk/fFYOPdaLHcCS633i9Z/76v8jom2XSSAVRaRQJj6CeeJN5TONKL/yOA1IzSijhSJPveX9FZN35OmaV2RtAcAVoIBIkGuOYPCuyLI6D6VSD9Py1zTVUkYITusuPLUTtch9P/2saEo4iIQyWq9gmvA5InxVEBX2soopgt0XIBsj2RiUAiE3eOIDOlnK44AycRVZG2oDf3eokhcOFMnSh4pPHFDPdFXrfpZJhuxqKivWaRrZ/ZmtP/K27KWa9zw+AoEmcOyUqpnaUYD1qRMFb9NeOBmJnytepNWGIkNeGF+lWysxsCLxNWygJPPGD4RANTr+iGlBkQavabuIjSmoEs5s9iU8XAneJsk3W7yKTs6VJMTF7z36fZFdtKKy/LerpSotyBY9eXZJiHLD8V3s8leUiTYmu8SCPgiK/t7+JSRIlaEv6VOf9GpYDsJIBRk0Dz6PFGh+2+nc8ecSh2qrmdZKb0LOSmKTZsZ0y9YyQHpxYpSzyoAGg6v0g2QFKquevLbLfC0fYt2VUkJ7FPZ1PDtoeDb9TewB/BXoyKhQDroH/hr9+2UI2pMY8UWXofnF0/K2nEKInhFifR6nBXP/owOXnu6vl4GwvvUbw3rKWqa+xt99kbfO6ulDZOXii9NWldIxPBMSX0ebyK8=
  - secure: TI6qdAkys2fY6R9Qvlz5Nw9zv+5R60HrwKbSd0fvPLnSVDMJCaTUaKdpdHRCS+gmpEnr7b50yDV3IQwM7dAqey2ZtC3jh9kqray5/xlfJCIPenka4Ed3oc7wMN9LGYeO++vMDgdXGLDCT03cG/fcU+TZ+GU8dRAkYU+z66qtfz8HNVtvdYz4SWAD/lStSCrkHHwr7kLiZo4aBQb8ga3e2KEWlQ55DFQUe30aoOty3cEKuRthCZiYiOA0PcZr59w2S1eVwiX9E8rtmUZnBl+KiQeip/EFso1GGJLbKUh6fCAxE6pO7QPZOM0/WZ+uYs7l0MY2VUPHIbiXj5ZvBwUnd/SXdY1LIgX/RzwtJ0Ag5blViDg6U+TobfNRY38o96yhbesCpsDbMJfFlWWIFWAlsrWIWNHwHJyHJD7u9L+FsZ3VjMabs91QN2UonBViQ7Zl+Geme0Ur8lJt23PSjI8y5LjebqsXBDt0EPwOThA3leIQDidu+eykaeDzlISuDJYnhSGmW/FWXE9GIEFtOJH5zUgQhqWWyO9Bleeo2wovMJIdWN9Crs5hCdDjxDUphuz4Y1x+PIc3m8xyy2t/F3h+B8Zm/9Dc7wHGHrxA8gU7f9aNKXND1CpcULfm8uvyrjq8jbTl65MlgU1QbfVTXDG94OS/MPUvExk9pucuoVF6cRY=
addons:
  postgresql: '9.4'
services:
- postgresql
- redis-server
before_install:
  - export BOTO_CONFIG=/dev/null
install:
- export PATH=$HOME/.local/bin:$PATH
- pip install codecov
- pip install pytest-cov
- pip install pipenv
- pipenv install --dev --skip-lock
script:
- pytest --cov
after_success:
 - codecov
notifications:
  on_pull_requests: false
  slack:
    secure: EAVUaNyoZoiRvanx8c4tOR0DLc1B8a4h5jxDTMzOfjZDi94bpXe2TjdKuWaGjjZf3Yt3uP3T9SP23QH2SnTD5CO6JnS7NoTSa9LOqa3cciw65niK3hW4eqNyn5/2fLNP+aA669Ta9V8t17GgINq4QerpVVW7biRzv2T61WVPUJavh9TD/rwyHO9nfq587nwqybWAJAiuzehimdTaZyZ47VRCwsEDmpAPctWH5NP1RBHuTXbbokr1/b2pQirIi9Gl+J7aCGFAr3jZBeK1ojdythHGRoIEI00vGkiHGZJ/GQN+BDX3sDRNXvHInEAXJ0si15I/KaFV1tP15YCRh28q+IDfvZnOIqGM8IFtFTXGrXLvn9UCHYwFgDybmvU3bzLEYmw+BFYwzJ4m5veOLwiQbYiqwnuv7AhRKsIAoa3LWH106w9edow7h+9NZUQvqzMBF6+6IltTB2oWGzQxrNqj+SyxRxe1L4VfO1uAt1ov+7k92jpBfEm1Pns8LQZJw2FpVAQ95U1K3qHvJ4ENkFdtbOOCxFRWhSxWFSdlAuxd7zjDDd1wf6k8LphPMNd7fuENM7X37eQwlewCgTZqtyMOjERaUcj6fLuWVT3gmcxxHKJkEVADzTYz+p02rO9Ju9CAwlurpcblgk1g8tyW/JQJaMMjRKaJvl3qz6R0xloyYQY=
  email:
    secure: aSsBzRiUwTWtAHZ2yqSQOQ7vhtWXulLNEbGWDVBhB5ZjiAKQXDNuKcVMTSkEYXwiVkTE8Jp+WtWCvPWivwwav9+yP5dp08NudGny1DNy2C18yQy6vJbOg3hGkaOTTly6DKSE0BL/a+JaoR67UiJ/0YS6V3z0ZA/rhMepNa1wG6217pLezvN2tcFzK/wbOZ8t0YEfrCBFKcQQelHBWCeFyF5W7uE6Ht5adukomu1/tqxLMCKkuBiT+uGY4YCoLnSAgPG2E1BuO2tEFWte2J6LRkofljAUZ6y4xeA0jO3epQYvrk7RbFs7VCtjDaBSfgQoE0waMyB5pCFG9tE0Q8n+KG/ZBjdNfjtBJ8Vv+1EvQROZEXgbLAbANFVcUl+hJ2iOsqzX3ecE2fZzByPZ5+Pj7KmlP+SuCVLbAir3AgB6T4iVQ+NHd0NRXcw97EGR4ZoSDRBQ+/oOor8fXIph2NfEnlkea/OJaXIxQWCnilNgu53bPNCN7Y2JmVrtkEEpYaIuZBrO1R2zby/Ltai50NZ9faTO1wp7IqOtM1PFGXfICzFdNiqSAZ26AYf9ZFv8SSpebl7uelBnwwe5rhpGK7FMa0GWAjd/av2hqbLKcooVPWcX3vUa726JPSU90+HuZHPyn0DaGzvA74e5SjT6tPJ53R4GapNamWMzteOB4Jh5PI4=
