recursive-include scripts *
recursive-include config *
recursive-include aws *
recursive-include alembic *
recursive-include */schemas *
recursive-include */*/schemas *
include setup.py
include VERSION
