[[source]]
url = "https://${PYPI_USERNAME}:${PYPI_PASSWORD}@nexus.directivegames.com/repository/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
python-drift = "==0.17.1"
gevent = "*"
requests = "*"
boto3 = "*"
botocore = "*"
greenlet = "*"
python-decouple = "*"
python-driftconfig = ">=0.4.0"
psycogreen = "*"
aws-assume-role-lib = "*"
ddtrace = "*"
eth-account = "*"
sqlalchemy = "==1.4.47"
# required until we support flask-sqlalchemy 3.0
flask-marshmallow = "~=0.14.0"

[dev-packages]
pytest = "*"
pytest-cov = "*"
codecov="*"
responses = "*"
mock = "*"

[requires]
python_version = "3.11"
