[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Due to uneccessary or weird dependency in auth.util.fetch_url()
driftconfig = { git = 'https://github.com/dgnorth/drift-config.git', ref = 'develop'}
gevent = "*"
requests = "*"
"boto3" = "*"
greenlet = "*"
flask-restplus = "*"
flask-rest-api = "*"
"c6a48b4" = {path = "./../drift", editable = true}
marshmallow = "*"
marshmallow-sqlalchemy = "*"

[dev-packages]
pytest = "*"
responses = "*"
mock = "*"

[requires]
python_version = "3.6"
