[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Due to uneccessary or weird dependency in auth.util.fetch_url()
drift = { git = 'https://github.com/dgnorth/drift.git', ref = 'develop'}
driftconfig = { git = 'https://github.com/dgnorth/drift-config.git', ref = 'develop'}
gevent = "*"
requests = "*"
"boto3" = "*"
greenlet = "*"
flask-restplus = "*"
flask-rest-api = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"
apispec = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
codecov="*"
responses = "*"
mock = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
